body {
    padding-top: 50px;
}

/* custom */
em {
    background:yellow;
    font-size: 100%;
    font-style: normal;
}

.colmask {
    clear:both;
    float:left;
    width:100%;         
    overflow:hidden; 
}

/* common column settings */
.colmid {
    float:left;
    width:100%;
    position:relative;
}
.col {
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
}
.singlepage {
    background:#fff;
}


